
/**********************************************/
/**********************************************/
/*** PROGETTO: ajax-boolflix- style.css ***/
/**********************************************/
/**********************************************/


/**********************************************/
/************* REGOLE GENERALI ****************/
/**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  height: 100%;
}

/************************************************/
/************* OGGETTI RICORRENTI ***************/
/************************************************/

.fas.fa-star {
  color: yellow;
}

/**********************************************/
/************* SEZIONI DOCUMENTO *************/
/**********************************************/

body {
  background: #161B1D;
}

#main-container {
  width: 100vw;
}

/* main-container -> navBar */

nav {
  height: 100px;
  width: 100vw;
  line-height: 100px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

nav img.logo {
  height: 100%;
}

nav .search_area {
display: flex;
align-items: center;
}

nav #inputRicerca, nav #inputRicerca:focus {
  margin-right: 15px;
  padding: 0px 15px;
  height: 40px;
  width: 400px;
  border-radius: 6px;
  border-style: none;
  outline-style: none;
}

nav #bottoneCerca {
  padding: 8px 10px;
  background: red;
  border-radius: 6px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  outline-style: none;
}

/* main-container -> contenuti */

.contenuti {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_contenuto {
  position: relative;
  float: left;
  height: 480px;
  width: 320px;
  overflow: hidden;
  background: black;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 6px;

}

.card_contenuto .copertina.overlay {
  height: 100%;
  transition: height 0.6s ease;
}

.card_contenuto:hover .copertina.overlay {
  height: 0px;
}

.card_contenuto:hover {
  border: 5px solid white;
}

.card_contenuto .dettagli_contenuto {
  height: 100%;
  padding: 10px 10px 40px 10px;
  white-space: wrap;
  overflow-y: auto;
}

.card_contenuto .dettagli_contenuto .titolo_contenuto {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
  white-space: wrap;
}

.card_contenuto .dettagli_contenuto li {
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  list-style: none;
}

.card_contenuto .bandiera {
  max-width: 20px;
}

.card_contenuto .trama {
  margin-bottom: 30px;
}
