
/**********************************************/
/**********************************************/
/*** PROGETTO: ajax-boolflix- style.css ***/
/**********************************************/
/**********************************************/


/**********************************************/
/************* REGOLE GENERALI ****************/
/**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

/************************************************/
/************* OGGETTI RICORRENTI ***************/
/************************************************/

/**********************************************/
/************* SEZIONI DOCUMENTO *************/
/**********************************************/

body {
  background: black;
}

#main-container {
  width: 100vw;
  
}

/* navBar */

nav {

}

/* content */

.content {

}
